In [1]:
# Depencies needed
import pymongo
import pandas as pd
from sqlalchemy import create_engine

In [2]:
flu_data = pd.read_csv("TransformCSV/flu_10to21.csv")
vaccine_data = pd.read_csv("TransformCSV/vaccines_11to21.csv")
flu_data.head()

,Unnamed: 0,Age group,Symptomatic Illnesses (Estimate),Symptomatic Illnesses (95% Cr I),Medical Visits (Estimate),Medical Visits (95% Cr I),Hospitalizations (Estimate),Hospitalizations (95% Cr I),Deaths (Estimate),Deaths (95% Cr I),Year
0,1,0-4 yrs,2776311,"(2,286,712, 3,521,500)",1860128,"(1,497,299, 2,411,113)",19355,"(15,942, 24,550)",200,"(0, 509)",2011
1,2,5-17 yrs,4435345,"(3,609,151, 5,847,156)",2306379,"(1,847,898, 3,083,851)",12161,"(9,896, 16,032)",152,"(0, 1,498)",2011
2,3,18-49 yrs,7410066,"(6,149,320, 9,526,927)",2741724,"(2,203,691, 3,638,292)",41593,"(34,516, 53,475)",5240,"(3,682, 8,341)",2011
3,4,50-64 yrs,4843828,"(4,031,400, 6,493,256)",2082846,"(1,662,186, 2,869,122)",51367,"(42,752, 68,859)",5937,"(4,254, 9,385)",2011
4,5,65+ yrs,1820570,"(1,591,020, 2,395,285)",1019519,"(851,630, 1,383,748)",165506,"(144,638, 217,753)",25128,"(19,368, 42,189)",2011

In [3]:
vaccine_data.head()

   Unnamed: 0        Week  Total Doses Distributed  Year  Month  Day
0           0  2011-08-26                     55.1  2011      8   26
1           1  2011-09-02                     67.9  2011      9    2
2           2  2011-09-09                     85.9  2011      9    9
3           3  2011-09-16                     97.7  2011      9   16
4           4  2011-09-23                    104.8  2011      9   23

In [4]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [5]:
# Declare the database
db = client.flu_vaccines_db

In [6]:
# Declare the collections
flu = db.flu
vaccine = db.vaccine

flu_dict = flu_data.to_dict("records")
vaccine_dict = vaccine_data.to_dict("records")

In [7]:
# Insert collection
flu.insert_many(flu_dict)
vaccine.insert_many(vaccine_dict)